<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="dealership in dealerships | orderBy:sortField:sortDescending">
    <div class="thumbnail">
        <div class="caption">
            <h4>
                <in-place-edit field-name='title' input-type='text' input-class='input-medium' model=dealership>{{dealership.title}}</in-place-edit>
            </h4>

            <h4>
                <in-place-edit field-name='artist' input-type='text' input-class='input-medium' model=dealership>{{dealership.artist}}</in-place-edit>
            </h4>

            <h5>
                <in-place-edit field-name='releaseYear' input-type='text' input-class='input-small' model=dealership>{{dealership.releaseYear}}</in-place-edit>
            </h5>

            <h5>
                <in-place-edit field-name='genre' input-type='text' input-class='input-small' model=dealership>{{dealership.genre}}</in-place-edit>
            </h5>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updatedealership(dealership)">edit</a></li>
                    <li role="presentation"><a ng-click="deletedealership(dealership)">delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
